<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Update Courses</h1>
      <p><%= @courses.length %> courses found</p>

      <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>fullname</th>
              <th>seats</th>
              <th>instructors</th>
              <th>days</th>
              <th>time_start</th>
              <th>time_end</th>
            </tr>
        </thead>
        <tbody>
            <% @courses.each do |course| %>
                <tr>
                  <td><%= course.id %></td>
                  <td><%= course.name %></td>
                  <td><%= course.fullname %></td>
                  <td><%= course.seats %></td>
                  <td><%= course.instructors %></td>
                  <td><%= course.days %></td>
                  <td><%= course.time_start.to_s %></td>
                  <td><%= course.time_end.to_s %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>