<div id="search" class="modal hide fade">
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span5">

        <div class="row-fluid">
          <label for="id-active">
            <div class="span4 searchlabel active-{{asearch.id.active}}">
              Class ID number
              <input id="id-active" type="checkbox" ng-model="asearch.id.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.id.active}}">
            <p>must be <input type="text" id="id" class="input-small" placeholder="Ex: 91028" ng-disabled="!asearch.id.active" ng-model="asearch.id.value.id" bs-typeahead="asearch.id.rtsearch" /></p>
          </div>
        </div>

        <div class="row-fluid">
          <label for="core-active">
            <div class="span4 searchlabel active-{{asearch.core.active}}">
              Core requirements
              <input id="core-active" type="checkbox" ng-model="asearch.core.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.core.active}}">
            <p>include <select ng-change="addCourseCore()" ng-disabled="!asearch.core.active" ng-model="asearch.core.value.core" ng-options="value.name as value.fullname for value in core"></select></p>
          </div>
        </div>

        <div class="row-fluid">
          <label for="department-active">
            <div class="span4 searchlabel active-{{asearch.department.active}}">
              Department
              <input id="department-active" type="checkbox" ng-model="asearch.department.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.department.active}}">
            <p>must be <input type="text" id="department" class="input-small" placeholder="Ex: ENGL" ng-disabled="!asearch.department.active" ng-model="asearch.department.value.department" bs-typeahead="asearch.department.rtsearch" /></p>
          </div>
        </div>

        <div class="row-fluid">
          <label for="seats-active">
            <div class="span4 searchlabel active-{{asearch.seats.active}}">
              Open seats
              <input id="seats-active" type="checkbox" ng-model="asearch.seats.active" ng-change="asearch.seats.value.seats=asearch.seats.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.seats.active}}">
            <label for="seats-active"><p class="tall">must still be available</p></label>
          </div>
        </div>

        <div class="row-fluid">
          <label for="time_start-active">
            <div class="span4 searchlabel active-{{asearch.time_start.active}}">
              Start time
              <input id="time_start-active" type="checkbox" ng-model="asearch.time_start.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.time_start.active}}">
            <p>must be
              <select class="input-small" ng-disabled="!asearch.time_start.active" ng-model="asearch.time_start.values_raw.ba">
                <option value="b">before</option>
                <option value="a">after</option>
              </select>
              <input type="text" class="input-small" ng-disabled="!asearch.time_start.active" ng-model="asearch.time_start.values_raw.time" bs-timepicker value="10:00 AM" />
            </p>
          </div>
        </div>

        <div class="row-fluid">
          <label for="time_end-active">
            <div class="span4 searchlabel active-{{asearch.time_end.active}}">
              End time
              <input id="time_end-active" type="checkbox" ng-model="asearch.time_end.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.time_end.active}}">
            <p>must be
              <select class="input-small" ng-disabled="!asearch.time_end.active" ng-model="asearch.time_end.values_raw.ba">
                <option value="b">before</option>
                <option value="a">after</option>
              </select>
              <input type="text" class="input-small" ng-disabled="!asearch.time_end.active" ng-model="asearch.time_end.values_raw.time" bs-timepicker value="03:00 PM" />
            </p>
          </div>
        </div>

        <div class="row-fluid">
          <label for="days-active">
            <div class="span4 searchlabel active-{{asearch.days.active}}">
              Class days
              <input id="days-active" type="checkbox" ng-model="asearch.days.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.days.active}}">
            <p class="tall">may include</p>
            <div class="btn-toolbar">
              <div class="btn-group">
                <%
                  days = %w{Mo Tu We Th Fr Sa Su}
                  days_short = %w{m t w r f s u}
                %>
                <% (0..6).each do |day| %>
                  <button class="btn btn-mini active-{{asearch.days.values_raw.<%= days_short[day] %>}}" ng-disabled="!asearch.days.active" ng-click="asearch.days.values_raw.<%= days_short[day] %>=!asearch.days.values_raw.<%= days_short[day] %>" ng-model="asearch.days.values_raw.<%= days_short[day] %>"><%= days[day] %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <label for="units-active">
            <div class="span4 searchlabel active-{{asearch.units.active}}">
              Class units
              <input id="units-active" type="checkbox" ng-model="asearch.units.active" />
            </div>
          </label>
          <div class="span8 fields active-{{asearch.units.active}}">
            <p class="tall">may include</p>
            <div class="btn-toolbar">
              <div class="btn-group">
                <% (0..6).each do |units| %>
                  <button class="btn btn-mini active-{{asearch.units.values_raw.<%= units %>}}" ng-disabled="!asearch.units.active" ng-click="asearch.units.values_raw.<%= units %>=!asearch.units.values_raw.<%= units %>" ng-model="asearch.units.values_raw.<%= units %>"><%= units %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="offset4 span8">
            <br>
            <a class="btn btn-primary" ng-click="advanced_search()"><i class="icon-search icon-white"></i> Search</a>
            <a class="btn btn-success" ng-click="addSearchToCourses()" ng-show="search_results.sections.length > 0 && search_results.search_performed"><i class="icon-plus-sign icon-white"></i> Add Search Results</a>
            <a class="btn" disabled ng-show="!(search_results.sections.length > 0 && search_results.search_performed)"><i class="icon-plus-sign"></i> Add Search Results</a>
            <br><br>
            <p>Click the <strong>Add Search Results</strong> button to add your search to the main page.</p>
          </div>
        </div>
      </div>




      <div class="span7 results">
        <div class="row-fluid">
          <div class="instructions" ng-show="search_results.instructions">
            <h3>How to Search like a Pro</h3>
          </div>


          <div class="course course-0 show-true" ng-show="!search_results.instructions">
            <div class="inner">
              <h4>Search Results ({{search_results.sections.length}})</h4>
              <p ng-show="search_results.sections.length == 0">No classes matching your criteria were found</p>
              <div ng-repeat="section in search_results.sections" class="section selected-{{section.selected}} validchoice-{{isValidChoice(section)}} isfull-{{section.isfull}}" data-original-title="{{section.invalidbecause}}" rel="tooltip">
                <table>
                  <tbody>
                  <tr>
                    <td class="name">
                      {{section.name}}
                    </td>
                    <td class="schedule">
                      <span class="days">{{section.days}}</span>
                      <br>
                      <span class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</span>
                    </td>
                    <td class="seats">
                      <span class="seats">{{section.seats}}</span>
                      <br>
                      <span class="remaining">seat{{plural(section.seats)}} remaining</span>
                    </td>
                    <td class="moreinfo">
                      <a class="btn btn-mini btn-success" href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= TERM %>" title="Opens the CourseAvail listing for this section" target="_blank">More Info</a>
                      <span ng-show="section.islab" class="label label-info">lab section</span>
                    </td>
                    <td class="info">
                      <span><strong>Name:</strong> {{section.fullname}}</span>
                      <br>
                      <span><strong>Class ID:</strong> <a href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= TERM %>" title="Opens the CourseAvail listing for this section" target="_blank">{{section.id}}</a></span>
                      <br>
                      <span><strong>Professor:</strong> <a class="course-evaluation" data-professor="{{section.instructors}}" title="Opens course evaluations for this professor">{{section.instructors}}</a></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
</div>
