<div ng-controller="courseOptionsCtrl" class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="top">
        <h3>Welcome to SCU&#8226;Classes, CourseAvail on steroids.</h3>

        <div class="info">
          <input ng-model="schedule.name" type="text">
          {{schedule.name}}
        </div>

        <button ng-click="clearCourses()" class="btn btn-success btn-small"><i class="icon-ok-sign icon-white"></i> Save Schedule</button>
        <button ng-click="clearCourses()" class="btn btn-danger btn-small"><i class="icon-remove-sign icon-white"></i> Clear Schedule</button>
        <button ng-click="clearCourses()" class="btn btn-primary btn-small"><i class="icon-th-list icon-white"></i> View Schedules</button>

        <br><br>

        <input ng-model="addCourseText" type="text" placeholder='Type a class, like "RSOC 9"'/>
        <strong>OR</strong>
        <select>
          <option>Find by Core requirement</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div ng-repeat="(name, course) in courses" class="course show-{{course.show}}">
        <div class="inner">
          <h4>
            <div class="btn-group">
              <button ng-click="toggleExpand(course)" class="btn btn-small" title="Expand/collapse this class"><i class="{{expandArrow(course)}}"></i></button>
              <button ng-click="removeCourse(name)" class="btn btn-small" title="Remove this class"><i class="icon-remove-sign"></i></button>
            </div>
            {{name}} - {{course.0.fullname}}
          </h4>
          <div ng-repeat="section in course" class="section selected-{{section.selected}} validchoice-{{isValidChoice(section)}}">
            <label for="section-{{section.id}}">
              <table>
                <tbody>
                <tr>
                  <td class="select">
                    <input ng-model="section.selected" id="section-{{section.id}}" type="checkbox" ng-disabled="!isValidChoice(section)">
                  </td>
                  <td class="schedule">
                    <span class="days">{{section.days}}</span>
                    <br>
                    <span class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</span>
                  </td>
                  <td class="seats">
                    <span class="seats">{{section.seats}}</span>
                    <br>
                    <span class="remaining">seat{{plural(section.seats)}} remaining</span>
                  </td>
                  <td class="moreinfo">
                    <a class="btn btn-mini" rel="popover" data-title="{{section.fullname}}" data-content="{{popoverInfo(section)}}">More Info</a>
                    <span ng-show="section.islab" class="label label-info">lab section</span>
                  </td>
                  <td class="info">
                    <span><strong>Class ID:</strong> <a href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= TERM %>" title="Opens the CourseAvail listing for this section" target="_blank">{{section.id}}</a></span>
                    <br>
                    <span><strong>Professor:</strong> <a class="course-evaluation" title="Opens course evaluations for this professor">{{section.instructors}}</a></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </label>
          </div>
          <p class="scroll"><a><i class="icon-arrow-up"></i>Scroll to top</a></p>
        </div>
      </div>
    </div>


    <div class="span6">
      <div class="calendar">
        <div class="days">
          <div class="hours">
            <% @hours.each do |h| %>
              <div class="hour"><%= ((h < 13) ? (h) : (h - 12)).to_s + ((h < 12) ? 'am' : 'pm') %></div>
            <% end %>
          </div>

          <% @days.each do |d,day| %>
            <div class="day" id="<%= d %>">
              <div class="day-title"><%= day %></div>
              <% @hours[0..(@hours.length - 3)].each do |h| %>
                <div class="hour"></div>
              <% end %>
              <div class="hour last"></div>

              <div ng-repeat="(name, course) in courses">
                <div ng-repeat="section in course">
                  <div ng-show="showSectionBlock(section, '<%= d %>')" class="course-block" style="top:{{section.style.top}}; height:{{section.style.height}};">
                    <div class="name">{{section.name}}</div>
                    <div class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>








<script type="text/javascript">
  var js_courses = <%= raw @js_courses.to_json %>;
  var js_term = <%= TERM %>;
</script>

<form id="course-evaluation-form" action="http://evaluations.scu.edu/" method="post" target="_blank">
  <input name="fac" type="hidden">
</form>
