<div ng-controller="courseOptionsCtrl" class="container-fluid">

  <%= render 'advanced_search_modal' %>
  <%= render 'schedule_summary_modal' %>
  <%= render 'print_view' %>
  <%= render 'share_schedule_modal' %>

  <div class="row-fluid print_hide">
    <div class="span6">
      <div class="top">
        <h1>SCU&#8226;classes</h1>

        <button ng-click="gaEvent('click.schedule_info', sectionsAdded().length)" data-toggle="modal" data-target="#schedule" class="btn btn-primary btn-small"><i class="icon-th-list icon-white"></i> Schedule Info</button>
        <button ng-click="print()" class="btn btn-success btn-small"><i class="icon-print icon-white"></i> Print Schedule</button>
        <button ng-click="gaEvent('click.share_schedule', sectionsAdded().length)" data-toggle="modal" data-target="#share" class="btn btn-info btn-small"><i class="icon-share icon-white"></i> Share Schedule</button>
        <button ng-click="gaEvent('click.clear_schedule', sectionsAdded().length); clearCourses()" class="btn btn-danger btn-small"><i class="icon-remove-sign icon-white"></i> Clear Schedule</button>

        <br><br>

        <div class="buttons readonly-hide">
          <input type="text" placeholder='Type a class, like "RSOC 9"' data-items="200" ng-model="addCourseText" bs-typeahead="addCourseTextSearch" />
          &nbsp;<strong>OR</strong>&nbsp;
          <button data-toggle="modal" data-target="#search" class="btn btn-primary"><i class="icon-th-list icon-white"></i> Advanced Search</button>
        </div>

        <div class="readonly-show" style="display: none;">
          <p>You are viewing someone else's schedule. <a href="/">Click here </a> to go back to your schedule.</p>
        </div>

        <div class="welcome hide-{{hideWelcomeMessage()}}">
          <h3>Welcome to SCU&#8226;classes.</h3>
          <h3>It's like CourseAvail on steroids.</h3>
          <br>
          <h4>Now updated for <span class="quarter"><%= Term.quarter %></span></h4>
          <br>
          <h4>To get started, start typing a class in the box above.</h4>
          <h4>Or, find things like double-dip classes with <button data-toggle="modal" data-target="#search" class="btn btn-primary btn-small"><i class="icon-th-list icon-white"></i> Advanced Search</button></h4>
        </div>

        <div ng-if="fullSections().length > 0" class="alert alert-error readonly-hide">
          <span class="label label-important">Warning!</span>
          <p>This schedule has classes that are full or closed. If this is ok (for example, if you are automatically registered or have a permission number), you can ignore this warning. Otherwise, please find replacement classes for the following:</p>
          <ul>
            <li ng-repeat="section in fullSections()"><strong>{{section.name}}</strong>, number {{section.id}}</li>
          </ul>
        </div>
      </div>

      <div ng-repeat="course in courses | orderBy:'number':true" class="course course-{{course.number}} show-{{course.show}}">
        <div class="title">
          <h4>
            <div class="btn-group">
              <button ng-click="toggleExpand(course); gaEvent('click.toggle_expand')" class="btn btn-small" title="Expand/collapse this class"><i class="{{expandArrow(course)}}"></i></button>
              <button ng-click="removeCourse(course); gaEvent('click.remove_course')" class="btn btn-small" title="Remove this search"><i class="icon-remove-sign"></i></button>
            </div>
            {{course.name}}
            <span ng-repeat="tag in course.tags"><span class="label">{{tag}}</span>&nbsp;</span>
          </h4>
        </div>
        <div class="inner" ng-show="course.show">
          <div ng-repeat="section in course.sections" class="section selected-{{section.selected}} validchoice-{{isValidChoice(section)}} isfull-{{section.isfull}}" rel="tooltip" data-original-title="{{section.invalidbecause}}">
            <label for="section-{{section.uniqid}}">
              <table>
                <tbody>
                <tr>
                  <td class="select">
                    <input ng-model="section.selected" id="section-{{section.uniqid}}" type="checkbox" ng-disabled="!isValidChoice(section)">
                  </td>
                  <td class="schedule">
                    <span class="days">{{section.days}}</span>
                    <br>
                    <span class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</span>
                  </td>
                  <td class="seats">
                    <span class="seats">{{section.seats}}</span>
                    <br>
                    <span class="remaining">seat{{plural(section.seats)}} remaining</span>
                  </td>
                  <td class="moreinfo">
                    <a class="btn btn-mini btn-success" rel="popover" data-original-title="{{section.fullname}}" data-content="{{popoverInfo(section)}}">More Info</a>
                    <span ng-if="section.islab" class="label label-info">lab section</span>
                  </td>
                  <td class="info">
                    <div ng-if="course.name == 'Advanced Search'">
                      <span><strong>Class:</strong> {{section.name}}</span>
                      <br>
                    </div>
                    <span><strong>Name:</strong> {{section.fullname}}</span>
                    <br>
                    <span><strong>Class ID:</strong> <a href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= Term.term %>" title="Opens the CourseAvail listing for this section" target="_blank">{{section.id}}</a></span>
                    <br>
                    <span><strong>Professor:</strong> <a class="course-evaluation" data-professor="{{section.instructors}}" title="Opens course evaluations for this professor">{{section.instructors}}</a></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </label>
          </div>
          <p class="scroll"><a ng-click="gaEvent('click.scroll_top')"><i class="icon-arrow-up"></i>Scroll to top</a></p>
        </div>
      </div>
    </div>


    <div class="span6">
      <div class="calendar">
        <%= render 'calendar_view' %>
        <div class="bottom">
          <p>This schedule has <strong class="green-{{units() <= 19}}">{{units()}}</strong> unit{{plural(units())}} || Updated from CourseAvail <strong class="green-true">{{lastupdated}}</strong> minute{{plural(lastupdated)}} ago</p>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>








<script type="text/javascript">
    var js_courses = <%= raw @js_courses.to_json %>;
    var js_core = <%= raw @js_core.to_json %>;
    var js_term = <%= Term.term %>;
    var js_lastupdated = <%= @lastupdated %>;
    var js_version = 2.0;
    var js_readonly = <%= @readonly %>;
</script>

<form id="course-evaluation-form" action="http://evaluations.scu.edu/" method="post" target="_blank">
  <input name="fac" type="hidden">
</form>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
