<div ng-controller="courseOptionsCtrl" class="container-fluid">

  <%= render 'advanced_search_modal' %>
  <%= render 'schedule_summary_modal' %>

  <%= render 'print_view' %>

  <div class="row-fluid print_hide">
    <div class="span6">
      <div class="top">
        <h1>SCU&#8226;classes</h1>

        <button data-toggle="modal" data-target="#schedule" class="btn btn-primary btn-small"><i class="icon-th-list icon-white"></i> Schedule Info</button>
        <a href="/export.csv?sections={{sectionIds()}}" class="btn btn-info btn-small" target="_blank"><i class="icon-download-alt icon-white"></i> Download Schedule to Excel</a>
        <button ng-click="clearCourses()" class="btn btn-danger btn-small"><i class="icon-remove-sign icon-white"></i> Clear Schedule</button>

        <br><br>

        <div class="buttons">
          <input type="text" placeholder='Type a class, like "RSOC 9"' data-items="25" ng-model="addCourseText" bs-typeahead="addCourseTextSearch" />
          &nbsp;<strong>OR</strong>&nbsp;
          <button data-toggle="modal" data-target="#search" class="btn btn-primary"><i class="icon-th-list icon-white"></i> Advanced Search</button>
        </div>


        <div class="welcome hide-{{hideWelcomeMessage()}}">
          <h3>Welcome to SCU&#8226;classes.</h3>
          <h3>It's like CourseAvail on steroids.</h3>
          <br>
          <h4>Now updated for <span class="quarter"><%= QUARTER %></span></h4>
          <br>
          <h4>To get started, start typing a class in the box above.</h4>
        </div>

        <div ng-show="fullSections().length > 0" class="alert alert-error">
          <span class="label label-important">Warning!</span>
          <p>This schedule has classes that are full or closed. If this is ok (for example, if you are automatically registered or have a permission number), you can ignore this warning. Otherwise, please find replacement classes for the following:</p>
          <ul>
            <li ng-repeat="section in fullSections()"><strong>{{section.name}}</strong>, number {{section.id}}</li>
          </ul>
        </div>
      </div>

      <div ng-repeat="course in courses | orderBy:'number':true" class="course course-{{course.number}} show-{{course.show}}">
        <div class="inner">
          <h4>
            <div class="btn-group">
              <button ng-click="toggleExpand(course)" class="btn btn-small" title="Expand/collapse this class"><i class="{{expandArrow(course)}}"></i></button>
              <button ng-click="removeCourse(course)" class="btn btn-small" title="Remove this search"><i class="icon-remove-sign"></i></button>
            </div>
            {{course.name}}
            <span ng-repeat="tag in course.tags"><span class="label">{{tag}}</span>&nbsp;</span>
          </h4>
          <div ng-repeat="section in course.sections" class="section selected-{{section.selected}} validchoice-{{isValidChoice(section)}} isfull-{{section.isfull}}" rel="tooltip" data-original-title="{{section.invalidbecause}}">
            <label for="section-{{section.id}}">
              <table>
                <tbody>
                <tr>
                  <td class="select">
                    <input ng-model="section.selected" id="section-{{section.id}}" type="checkbox" ng-disabled="!isValidChoice(section)">
                  </td>
                  <td class="name" ng-show="course.iscore">
                    {{section.name}}
                  </td>
                  <td class="schedule">
                    <span class="days">{{section.days}}</span>
                    <br>
                    <span class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</span>
                  </td>
                  <td class="seats">
                    <span class="seats">{{section.seats}}</span>
                    <br>
                    <span class="remaining">seat{{plural(section.seats)}} remaining</span>
                  </td>
                  <td class="moreinfo">
                    <a class="btn btn-mini btn-success" rel="popover" data-original-title="{{section.fullname}}" data-content="{{popoverInfo(section)}}">More Info</a>
                    <span ng-show="section.islab" class="label label-info">lab section</span>
                  </td>
                  <td class="info">
                    <span><strong>Name:</strong> {{section.fullname}}</span>
                    <br>
                    <span><strong>Class ID:</strong> <a href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= TERM %>" title="Opens the CourseAvail listing for this section" target="_blank">{{section.id}}</a></span>
                    <br>
                    <span><strong>Professor:</strong> <a class="course-evaluation" data-professor="{{section.instructors}}" title="Opens course evaluations for this professor">{{section.instructors}}</a></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </label>
          </div>
          <p class="scroll"><a><i class="icon-arrow-up"></i>Scroll to top</a></p>
        </div>
      </div>
    </div>


    <div class="span6">
      <div class="calendar">
        <div class="days">
          <div class="hours">
            <% @hours.each do |h| %>
              <div class="hour"><%= ((h < 13) ? (h) : (h - 12)).to_s + ((h < 12) ? 'am' : 'pm') %></div>
            <% end %>
          </div>

          <% @days.each do |d,day| %>
            <div class="day" id="<%= d %>">
              <div class="day-title"><%= day %></div>
              <% @hours[0..(@hours.length - 3)].each do |h| %>
                <div class="hour"></div>
              <% end %>
              <div class="hour last"></div>

              <div ng-repeat="course in courses">
                <div ng-repeat="section in course.sections">
                  <div ng-show="showSectionBlock(section, '<%= d %>')" class="course-block course-{{course.number}}" ng-style="section.style.computed">
                    <label for="section-{{section.id}}">&times;</label>
                    <div class="name">{{section.name}}</div>
                    <div class="times">{{section.time_start.formatted}} - {{section.time_end.formatted}}</div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="bottom">
          <p>This schedule has <strong class="green-{{units() <= 19}}">{{units()}}</strong> unit{{plural(units())}} || Updated from CourseAvail <strong class="green-true">{{lastupdated}}</strong> minute{{plural(lastupdated)}} ago</p>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>








<script type="text/javascript">
    var js_courses = <%= raw @js_courses.to_json %>;
    var js_term = <%= TERM %>;
    var js_lastupdated = <%= @lastupdated %>;
    var js_version = 2.0;
</script>

<form id="course-evaluation-form" action="http://evaluations.scu.edu/" method="post" target="_blank">
  <input name="fac" type="hidden">
</form>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=212717712104514";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
