<!DOCTYPE html>
<html ng-app="scuclasses">
  <head>
    <title>SCU&#8226;classes</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name="description" content="SCU&#8226;classes is a website that makes choosing classes and building schedules much easier.  Never use CourseAvail again!">
    <link rel="icon" href="favicon.ico" />
  </head>

  <body ng-cloak class="<%= "readonly-#{@readonly}" %>">
    <%= yield %>
    <div class="footer">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4 left">
            <p>Created by Scott Hardy</p>
          </div>
          <div class="span4 center">
            <div class="fb-like" data-href="https://www.facebook.com/SCUzone" data-send="true" data-width="450" data-show-faces="false"></div>
          </div>
          <div class="span4 right">
            <p>Have feedback?  Let me know at <a href="mailto:shardy@scu.edu?subject=SCUclasses Feedback" target="_blank">shardy@scu.edu</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
