<!DOCTYPE html>
<html ng-app>
  <head>
    <title>SCU Coursemaster-5000</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">SCU Coursemaster-5000</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to 'Home', root_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="span12">
            <p>&copy; <a href="http://scotthardy.me" target="_blank">Scott Hardy</a> 2012-<%= Date.today.year %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
